body {
  font-family: "spectral", serif;
  position: relative;
}
.conteiner {
  margin-inline: auto;
  padding: 0;

  max-width: 950px;
}
header {
  background-color: #ffc017;

  border-bottom: 1px solid #12121299;
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
}
.logo img {
  width: 80%;
}

.navbar {
  gap: 25px;
  display: flex;
}
.navbar li:nth-of-type(5) {
  height: 20px;
  justify-content: space-evenly;
  border-radius: 30px;
  width: 86px;
  color: white;
  background-color: black;
}
.navbar li {
  display: flex;
  font-size: 12px;
}

/* STAY CURIOUS */
.section {
  border-bottom: 1px solid #12121299;
  background-color: #ffc017;
  display: flex;
  overflow: hidden;
}
.stayCurious {
  display: flex;
}
.firstDiv {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
}
.firstDiv h1 {
  font-family: "roboto", sans-serif;
  margin: 0;
  font-size: 55px;
  margin-top: 30px;
}
.firstDiv p {
  width: 68%;
}
.firstDiv button {
  height: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 30px;
  width: 35%;
  color: white;
  background-color: black;
}
.imgM {
  display: flex;
  height: 280px;
  width: 430px;
  justify-content: flex-end;
}

/* TRENDING */
.trendingMedium {
  margin-bottom: 50px;
  border-bottom: 1px solid #12121299;
}
.title {
  display: flex;
  margin-top: 50px;
}

.title img {
  margin-right: 15px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 50px;
}
.card {
  display: flex;
  width: 32%;
  flex-direction: column;
}
.number {
  font-weight: bold;
  color: #d0d1d0;
  font-size: 40px;
  margin-right: 15px;
}
.card-header {
  display: flex;
  align-items: baseline;
}
.imgCircle {
  border-radius: 50%;
  width: 25px;
}
.imgCard {
  width: 25px;
}
.textCard h4 {
  margin-bottom: 8px;
  margin-top: 5px;
}
.changeText {
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: bold;
  font-size: 11px;
}
.changeText img {
  margin-right: 10px;
}
.textStar {
  display: flex;
  margin: 0;
  color: #716c6c;
}

.changeText h4 {
  display: inline;
}

/* CARD MAIN */
.cardsMain {
  max-width: 600px;
  flex-direction: column;
  display: flex;
  gap: 40px;
}
.cardMain {
  display: flex;
}
.changeTextMain {
  align-items: flex-start;
  margin: 0;
  flex-direction: column;
  max-width: 60%;
}
.changeTextMain p,
h2 {
  margin: 0;
  display: flex;
}
.changeTextMain p img {
  margin-right: 10px;
}
.colorText {
  color: #716c6c;
  margin-bottom: 10px;
}
.colorText2 {
  color: #716c6c;
}

.imgMain {
  max-width: 40%;
}
.imgMain img {
  width: 100%;
}
